.membership-area {
  width: 75%;
  margin: 5vh auto;
}

.img-wrap{
  display: flex;
}

#preview{
  width: 150px;
  height: 150px;
  background-color: lightgray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  text-align: center;
  color: grey;
}

.resize-image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}