#user-wrapper{
  padding: 0 150px;
}

#user-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#user-name{
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
}

#user-dm{

}

#user-membership{
  display: flex;
  align-items: center;
}

#profile-wrapper{
  display: flex;
  justify-content: space-around;
}

#profile{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
}

#card-wrapper{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:blanchedalmond;
}

.detail-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0;
}

.dm-btn{
  display: inline-block;
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-left: 30px;
  text-align: center;
}

.rank{
  text-align: center;
  margin-right: 5px;
}

.membership-image{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-left: 10px;
}